body main {
    text-align: center;
    padding-top: 65px;
}

nav.navbar-fixed-top {
    position: fixed;
    height: 58px;
    background-color: rgba(240, 240, 240, 0.8);
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 1;
    padding: 0px;
}

h1 {
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

h1 img {
    height: 55px;
}
