.genre-list {
    list-style-type: none;
}

@media only screen and (min-width: 1px) {
    .genre-list-item {
	float: left;
	width: 130px;
	height: 250px;
	font-size: small;
    }

    .genre-list-item h3 {
	font-size: 150%;
    }

    .genre-icon {
	width: 100px;
	height: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .genre-list-item {
	float: left;
	width: 200px;
	height: 350px;
	font-size: normal;
    }

    .genre-icon {
	width: 160px;
	height: 160px;
    }
}

.genre-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre-icon {
    display: block;
    border: 1px solid #999;
}
